# Configs
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/*php.ini
/docker/dev/etc/php/php.ini
/docker/etc/php/php.ini

# Assets
/public/bundles/

# Temp files
/var/

# Dependencies
/vendor/
node_modules/

# IDE configs
.idea
.DS_Store
*.sublime-project
*.sublime-workspace
/.vscode

# Log files and databases
*.log
*.sql
*.sqlite

# Packaged files
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# Not ignore
!*.gitkeep
!*.gitignore

# code checkers
/.php_cs
/.php_cs.cache
.phpunit
.phpunit.result.cache
/phpunit.xml
/.phpcs-cache
/phpcs.xml
phpstan.neon

tools/http-client/http-client.private.env.json

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
